 body{
    text-align: center;
}
ul{
    list-style: none;
}
button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button1  {
    background-color: #FFA500;
} /* Orange */
.button2 {
    background-color: #ff0101;
} /* Red */
.button3{
    background-color: gold;
}/* Gold */
.button4{
    background-color: tomato;
}
h3{
    color: goldenrod;
    text-align: center;

}
ul{
    color: whitesmoke;
}
body, #Pain{
    background-image: url("https://i.ytimg.com/vi/pTzqRfFXBJw/maxresdefault.jpg");
    background-size: cover;
}
body, #leaf{
    background-image: url("https://wallpaper.dog/large/10703034.jpg");
    background-size: cover;
}
body, #Madara{
    background-image: url("https://wallpapercave.com/wp/wp8275461.jpg");
    background-size: cover;
}
body, #Garra{
    background-image: url("../images/d6gg3c9-374a9f7e-ea17-4d61-bbea-5f10009b24db.jpg");
    background-size: cover;
}
body, #Jiriyah{
    background-image: url("../images/Jiraiya_perfil.PNG-1.jpg");
}
#audiobtn{
    background-color: indigo;
}