body{
    font-family: serif;
    font-size: medium;
    background-color:rgb(0, 0, 0);
}
h1{
    color: crimson;
}
h2{
    color:floralwhite
}
p{
    color: white;
}
ul{
    color: pink;
}
.jumbotron{
   background-image: url(./images/1383615.jpg); 
   padding-top: 50px;
   padding-bottom: 800px;
   text-align: center;
   text-decoration: red;
   padding-left: 20px;
   padding-right: 20px;
}
h1{
    border-style:  r;
}